body {
  background-color: black;
  color: #00FF00; /* Green for that old-school terminal feel */
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

#terminal {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative; /* Needed for the background effect */
}

#ascii-text, #prompt, #user-input, #cursor, #suggestions li {
  font-size: 18px;
  line-height: 1.2; /* Consistent with the font size for better readability */
}

#ascii-text {
  flex: 1;
  white-space: pre-wrap;
  overflow: auto;
  margin: 0;
}

#input-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

#prompt {
  margin-right: 10px;
}

#user-input {
  background: transparent;
  border: none;
  color: #00FF00;
  font-family: 'Courier New', Courier, monospace;
  width: 50vw;
  max-width: 600px;
  outline: none; /* Remove the default focus outline */
}

#cursor {
  visibility: visible;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

#suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

#suggestions li {
  cursor: pointer;
  padding: 5px 0;
}

#suggestions li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* For mystic effect */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
      45deg,
      rgba(0, 255, 0, 0.1),
      rgba(0, 255, 0, 0.1) 10px,
      transparent 10px,
      transparent 20px
  );
  z-index: -1;
  animation: mysticGlow 10s infinite alternate;
}

@keyframes mysticGlow {
  from { opacity: 0; }
  to { opacity: 1; }
}